@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-x: hidden;
}
header{
    max-width:1440px;
    margin: 20px auto;

}

main{
    max-width: 1440px;
    margin: 0 auto;
    padding: 0px 120px;
    background-image: url('/assets/bg.png');
  
}
footer{
    max-width: 1600px;
    height: 100%;
    margin: 0px auto;
    background-color: #01ACFD;
    padding: 123px 228px 174px 140px;
}



/* shared styles */

.display-flexing{
    display: flex;
}

.btn-primary{
    border: none;
    border-radius: 12px;
    padding: 10px 45px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: black;
}

/* header styles */

/* navigation bar styles */

.navbar{
    justify-content: space-around;
    align-items: center;

   
}
.menu-bar{
    display: none;
    font-size: 24px;
}
.school-logo{
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.nav-links{
    display: flex;
    justify-content: center;
    
}
.nav-links li{
    list-style: none;
    
}
.nav-links li a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.25rem;

}
.orange{
    color: orange;
}
.skyblue{
    color: rgb(44, 182, 236);
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.nav-btn{
    padding: 10px 50px;
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}

hr{
    visibility: hidden;
    border: 1px solid orange;
    margin-top:10px;
}



/* banner style */
.banner-container{
    margin-top: 50px;
    padding: 0px 60px;
    justify-content: space-around;
    align-items: center;
    
}
.banner{
    width: 640px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 1.25rem;
    margin-bottom: 20px;

}


/* main styles */

/* curriculum section style */
.Curriculum-section{
    /* max-width: 1440px; */
    /* margin: 0 auto; */
}
.card-container{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 100px;
}
.card{
    max-width: 370px;
    text-align: center;
    padding: 60px 40px;
    border-radius: 19px;
    border: none;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
#grad-1{
    background: linear-gradient(to bottom, #DEF5FF, #ffffff 40%);
}
#grad-2{
    background: linear-gradient(to bottom, #FFF4DC, #ffffff 40% );
}
#grad-3{
    background: linear-gradient(to bottom, #f7ebff, #ffffff 40%);
}
.card-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
}
.card-description{
    font-weight: 500;
    font-size: 1rem;
    color: #808080;
    margin: 32px auto;
    
}

.card-btn{
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: white;
}
.btn-color-1{
    color: #F0AA00;
}
.btn-color-2{
    color: #8700FF;
}

.btn-container{
    margin: 80px;
    text-align: center;
}
.left,.right{
    width: 60px;
    height: 60px;
    background-color: orange;
    border: none;
    border-radius: 50%;
}
.fa-chevron-left, .fa-chevron-right{
    color: white;
    font-size: 1.25rem;
}
/* story section style */

.stories{
    /* text-align: center; */
    /* background: linear-gradient(to top, #FEA301 0%, #FFFFFF 100% );  */
}
.stories-container{
    display: flex;
    gap: 30px;
    width: 1160px;
    height: 630px;
    margin: 30px 10px;
   
   
}


.left-story{
    width: 540px;
    height: 100%;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.left-story img{
    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
}
.left-story-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 36px 38px;
}
.left-story-description{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    margin: 0px 65px 30px 38px;
}
.right-story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  
    gap: 18px;

}
.right-story img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.right-story div{
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: calc(100% - 10px);
}
.story-subtitle{
    margin: 24px 55px 34px 38px;
}
.story-btn{
    padding: 10px 20px;
    border-radius: 48px;
    border: none;
    color: white;
    background-color: #3CD8E8;
    position: relative;
    top: -20px;
    left: 35px ;
}
.view-btn{
    display: block;
    margin: 80px auto;
}

    
    

/* footer style */
.footer-container{
    display: flex;
    justify-content: space-between;
}
.kids-education{
    width:400px ;
}
.education-header{
    align-items: center;
    max-width: 300px;
    margin-bottom: 30px;
}
.education-title{
    font-weight: bold;
    font-size: 2.2rem;
    color: white;
}
.education-description{
    font-size: 1.25rem;
    color: #FFFFFF;
}
.about-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px;
}
.about-links{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 20px;
}
.about-links li{
    list-style: none;
}
.about-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
       
}

.touch-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px;
}
.websites{
    gap: 10px;
}
/* responsive styles */

@media screen and (max-width:576px) {
    /* navigation bar style */
    .navbar{
        justify-content: space-around;
        
    }
    .school, .nav-links,.nav-btn{
        display: none;
    }
    
    .menu-bar{
        display: inline;
    }
    hr{
        visibility: visible;
        width: 100%;
        
    }
    
    /* banner style */
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 20px;
       
        
    }
    .banner{
        text-align: center;
        width: 350px;
    }
    .banner-title{
        font-size: 2.1rem;
    }
    .banner-img{
        width: 330px;
        /* margin: 10px 16px; */
        display: flex;

        justify-content: center;
         
       
    }
    
    /* curriculum section style */
    .Curriculum-section{
        width: 100%;
        margin: 0px auto ;
        justify-items: center;
        align-items: center;
        
    }
    .section-title{
        font-size: 1.8rem;
        margin-top: 60px;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        align-items: center;
        justify-items: center;
        margin-top: 50px;
    }
    .card{
        width: 350px;
    }
    
    .btn-container{
        display: none;
    }


    /* footer style */
    footer{
        padding: 20px;
    }

    .footer-container{
        flex-direction: column;
        gap: 25px;
        
    }
    .kids-education{
        width: 100%;
    }
}