@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* shared styles */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header,main{
    max-width:1160px;
    margin: 0 auto;

}

header{
    margin-top: 20px;
}

.display-flexing{
    display: flex;
}

.btn-primary{
    border: none;
    border-radius: 12px;
    padding: 10px 45px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: black;
}

/* header styles */

/* navigation bar styles */

.navbar{
    justify-content: space-between;
    align-items: center;
   
}
.menu-bar{
    display: none;
    font-size: x-large;
}
.school-logo{
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.nav-links{
    display: flex;
    justify-content: center;
    
}
.nav-links li{
    list-style: none;
    
}
.nav-links li a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.25rem;

}
.orange{
    color: orange;
}
.skyblue{
    color: rgb(44, 182, 236);
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.nav-btn{
    padding: 10px 50px;
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}

hr{
    visibility: hidden;
    border: 1px solid orange;
    margin-top:10px;
}



/* banner style */
.banner-container{
    margin-top: 50px;
    justify-content: space-between;
    align-items: center;
    
}
.banner{
    width: 640px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 1.25rem;
    margin-bottom: 20px;

}
.banner-img{
    /* width: 100%; */
}
/* main styles */

/* footer style */


/* responsive styles */

@media screen and (max-width:576px) {
    /* navigation bar style */
    .navbar{
        justify-content: space-around;
        
    }
    .school, .nav-links,.nav-btn{
        display: none;
    }
    
    .menu-bar{
        display: inline;
    }
    hr{
        visibility: visible;
    }
    
    /* banner style */
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 20px;
       
        
    }
    .banner{
        text-align: center;
        width: 400px;
    }
    .banner-title{
        font-size: 2.25rem;
    }
    .banner-img img{
        width: 80%;
        margin: 10px 40px;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
}