@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

.quicksand-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* body{
    overflow-x: hidden;
} */
header{
    max-width:1440px;
    margin: 0 auto;

}

main{
    max-width: 1440px;
    margin: 0 auto;
    background-image: url("/assets/bg.png");
    background-repeat: no-repeat;
  
}
footer{
    max-width: 1440px;
    height: 100%;
    margin: 0px auto;
    background-color: #01ACFD;
    padding: 123px 228px 174px 140px;
}

/* shared styles */

.display-flexing{
    display: flex;
}

.btn-primary{
    border: none;
    border-radius: 12px;
    padding: 10px 45px;
    color: white;
    font-weight: bold;
    font-size: 1.25rem;
    background-color: black;
}

/* header styles */

/* navigation bar styles */

.navbar{
    max-width: 1160px;
    margin: 20px 140px;
    justify-content: space-between;
    align-items: center;
  
}
.menu-bar{
    display: none;
    font-size: 24px;
}
.school-logo{
    gap: 10px;
    align-items: center;
    font-weight: bold;
    font-size: 2rem;
}

.nav-links{
    display: flex;
    justify-content: center;
    
}
.nav-links li{
    list-style: none;
    
}
.nav-links li a{
    text-decoration: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1.25rem;

}
.orange{
    color: orange;
}
.skyblue{
    color: rgb(44, 182, 236);
}
.facilities{
    color: #05D4DF;
}
.admission{
    color: #5D58EF;
}
.nav-btn{
    padding: 10px 50px;
    border-radius: 12px;
    border: none;
    background-color: orange;
    color: white;
    font-weight: 500;
    font-size: 1.25rem;
}

hr{
    visibility: hidden;
    border: 1px solid orange;
    margin-top:10px;
}

marquee{
    max-width: 1160px;
    margin: 0 140px;
    font-weight: 500;
    font-size: 1rem;
    color: orange;
}
.marquee-color-1{
    color: #05D4DF;
}
.marquee-color-2{
    color: aquamarine;
}
.marquee-color-3{
    color: #01ACFD;
}


/* banner style */
.banner-container{
    max-width: 1160px;
    margin: 20px 140px;
    justify-content: space-between;
    align-items: center;
    
}
.banner{
    width: 640px;
}
.banner-title{
    font-weight: bold;
    font-size: 3.5rem;
    margin-bottom: 20px;
}

.banner-description{
    font-size: 1.25rem;
    margin-bottom: 20px;

}


/* main styles */

/* curriculum section style */

.card-container{
    max-width: 1160px;
    margin: 110px auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 30px;
}
.section-title{
    text-align: center;
    font-weight: bold;
    font-size: 2.8rem;
    margin-top: 80px;
}
.card{
    max-width: 360px;
    text-align: center;
    padding: 60px 20px;
    border-radius: 19px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    
}
.card-border-1{
    border: 1px solid #DEF5FF;
}
.card-border-2{
    border: 1px solid #FFF4DC;
}
.card-border-3{
    border: 1px solid #F2E8FF;
}
#grad-1{
    background: linear-gradient(to bottom, #DEF5FF, #ffffff 40%);
}
#grad-2{
    background: linear-gradient(to bottom, #FFF4DC, #ffffff 40% );
}
#grad-3{
    background: linear-gradient(to bottom, #f7ebff, #ffffff 40%);
}
.card-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin-top: 20px;
}
.card-description{
    font-weight: 500;
    font-size: 1rem;
    color: #808080;
    margin: 32px auto;
    
}

.card-btn{
    font-weight: bold;
    font-size: 1rem;
    border: none;
    background-color: white;
}
.btn-color-1{
    color: #F0AA00;
}
.btn-color-2{
    color: #8700FF;
}

.btn-container{
    margin: 50px;
    text-align: center;
}
.left,.right{
    width: 60px;
    height: 60px;
    background-color: orange;
    border: none;
    border-radius: 50%;
}
.fa-chevron-left, .fa-chevron-right{
    color: white;
    font-size: 1.25rem;
}
/* story section style */

.stories{
    padding-bottom: 20px; 
    background: linear-gradient(to top, rgba(254, 163, 1, 0.3) 0%, rgba(255, 255, 255, 0.7) 100%), url('/assets/bg.png')
}
.stories-container{
    max-width: 1160px;
    display: flex;
    gap: 18px;
    height: 630px;
    margin: 50px auto;
   
   
}


.left-story{
    width: 100%;
    height: 100%;
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.left-story img{
    
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    
}
.left-story-title{
    font-weight: bold;
    font-size: 1.5rem;
    margin: 36px 38px;
}
.left-story-description{
    font-weight: 500;
    font-size: 1rem;
    color: #666666;
    margin: 0px 50px 30px 38px;
}

.right-story{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 18px;
    

}
.right-story img{
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.right-story div{
    background-color: white;
    border-radius: 16px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    height: calc(100% - 5px);
    position: relative;
}
.story-subtitle{
    margin: 24px 55px 34px 38px;
}
.story-date{
    color: white;
    padding: 15px 20px;
    border-radius: 20px;
    position: relative;
    top: -10px;
    left: 40px;
}
.story-date-right{
    padding: 10px 18px;
}
.date-color-1{
    background-color: #3CD8E8;
}
.date-color-2{
    background-color: #95B226;
}
.date-color-3{
    background-color: #5D58F0;
}
.view-btn{
    display: block;
    text-align: center;
    margin: 80px 0px;
}

    
    

/* footer style */
.footer-container{
    max-width: 1060px;
    display: flex;
    justify-content: space-between;
}
.kids-education{
    max-width: 400px ;
}
.education-header{
    align-items: center;
    margin-bottom: 30px;
}
.education-title{
    font-weight: bold;
    font-size: 2.2rem;
    color: white;
}
.education-description{
    font-size: 1.25rem;
    color: #FFFFFF;
    text-align: ;
}
.about-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px;
}
.about-links{
    display: grid;
    grid-template-rows: repeat(1,1fr);
    gap: 20px;
}
.about-links li{
    list-style: none;
}
.about-links a{
    text-decoration: none;
    color: white;
    font-weight: 500;
    font-size: 1.2rem;
       
}

.touch-title{
    font-weight: bold;
    font-size: 1.5rem;
    color: white;
    margin-bottom: 30px;
}
.websites{
    gap: 10px;
}
/* responsive styles */

@media screen and (max-width:576px) {
   
    /* navigation bar style */
    .navbar{
        margin: 10px auto;
        justify-content: space-around;
        
    }
    .school, .nav-links,.nav-btn{
        display: none;
    }
    
    .menu-bar{
        display: inline;
    }
    hr{
        visibility: visible;
        width: 100%;  
    }
    marquee{
    display: none;
    }
    /* banner style */
    .banner-container{
        flex-direction: column-reverse;
        margin-top: 20px;   
    }
    .banner{
        text-align: center;
        width: 350px;
    }
    .banner-title{
        font-size: 2.1rem;
        margin-top: 10px;
    }
    .banner-description{
        font-size: 0.9rem;
    }
    .banner-img{
        width: 330px;   
    }
    .btn-primary{
        font-size: 1rem;
        padding: 10px 20px;
    }
    
    /* curriculum section style */
    .Curriculum-section{
        width: 100%;
        margin: 0px auto ;
        justify-items: center;
        align-items: center;
        
    }
    .section-title{
        font-size: 1.6rem;
        margin-top: 40px;
    }
    .card-container{
        grid-template-columns: repeat(1,1fr);
        justify-items: center;
        margin: 25px;
    }
  
    .card-title{
        font-size: 1.1rem;
    }
    .card-description, .card-btn{
        font-size: 0.8rem;
    }
    
    .btn-container{
        display: none;
    }

    /* stories style */
    .stories{
        padding: 0px 0px 50px;
    }
    .stories-container{
        margin-top: 10px;
        justify-content: center;
        /* width: 100%; */
        height: auto;
    } 
    .left-story{
        display: none;
    }
    .right-story{
        width: 350px;
        /* height: 380px; */
        margin-top: 20px;
        gap: 10px;       
    }
    .right-story div{
        /* width: 170px; */
        /* height: 180px; */
    }
    .right-story img{
        width: 100%;
    }
    .story-subtitle{
        font-size: 10px;
        margin: 10px 10px 17px 16px;
    }
    .story-date{
        left: 15px;
        top: -15px;
        font-size: 10px;
        padding: 5px 10px;
    }
    .view-btn{
        font-size: 1rem;
        margin: 20px 0px;
        text-align: center;
        
    }

     /* footer style */
    footer{
        padding: 40px;
    }

    .footer-container{
        flex-direction: column;
        gap: 25px;
        
    }
    .kids-education{
        width: 100%;
    }
    .education-title{
        font-size: 2.1rem;
    }
    .education-description{
        font-size: 1rem;
    }

    .about-title{
        font-weight: 600;
        font-size: 1.25rem;
    }

    .about-links a{
        font-weight: 500;
        font-size: 1rem;
    }

    .touch-title{
        font-size: 1.3rem;
    }
}